<h1>Products#index</h1>
<% @products.each do |product| %>
    <p><strong><%= "#{product.title} -" %></strong> <%= "#{product.description} Prix: #{product.price}€ - #{pluralize(product.comments.visible.count, 'comment', plural: 'comments')} | " %><span><%= link_to 'Show', product %></span></p>
<% end %>